.box-1 {
    position: fixed;
    display: inline-block;
    width: 200px;
    height: 150px;
    background: #eee;
    text-align: center;

}
.box-2 {
    position: relative;
    width: 200px;
    height: 100px;
    background: #999;
    text-align: center;
}
.box-3 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #eee;
}