/*See https://www.w3schools.com/cssref/pr_class_float.asp*/
/*left	The element floats to the left of its container*/
/*right	The element floats the right of its container*/
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

aside {
  float: left;
}

main {
  float: left;
}
