* {
    box-sizing: border-box;
  }

.container {
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
}

#header,
#navbar,
#section,
#article,
#aside,
#footer{
    background-color: grey;
    text-align: center;
}
#main{
    width:55%;
    float: left;
    padding: 10px;
}
#section{
    margin-top: -25px;
}
#aside{
    width:45%;
    float:left;
    margin-top: 10px;
    padding: 10px;
}
#aside h2{
    padding: 18px;
}

#footer{
    content: "";
    clear: both;
}
#section h2{
    padding: 10px;
}
#article h2{
    padding: 10px;
}